.loading{
    width: 100px;
    height: 100px;
    position: relative;
    margin: 0 auto;
    margin-top: 100px;
}

.loading span{
    display: inline-block;
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: lightgreen;
    position: absolute;
    animation: load 1.04s ease infinite;
}

.loading span:nth-child(1){
    left: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: 0.13s;
    animation-delay: 0.13s;
}
.loading span:nth-child(2){
    left: 14px;
    top: 14px;
    -webkit-animation-delay: 0.26s;
    animation-delay: 0.26s;
}
.loading span:nth-child(3){
    left: 50%;
    top: 0;
    margin-left: -10px;
    -webkit-animation-delay: 0.39s;
    animation-delay: 0.39s;
}
.loading span:nth-child(4){
    right: 14px;
    top: 14px;
    -webkit-animation-delay: 0.52s;
    animation-delay: 0.52s;
}
.loading span:nth-child(5){
    right: 0;
    top: 50%;
    margin-top: -10px;
    -webkit-animation-delay: 0.65s;
    animation-delay: 0.65s;
}
.loading span:nth-child(6){
    right: 14px;
    bottom: 14px;
    -webkit-animation-delay: 0.78s;
    animation-delay: 0.78s;
}
.loading span:nth-child(7){
    bottom: 0;
    left: 50%;
    margin-left: -10px;
    -webkit-animation-delay: 0.91s;
    animation-delay: 0.91s;
}
.loading span:nth-child(8){
    bottom: 14px;
    left: 14px;
    -webkit-animation-delay: 1.04s;
    animation-delay: 1.04s;
}

@-webkit-keyframes load{
    0%{
        -webkit-transform: scale(1.2);
        opacity: 1;
    }
    100%{
        -webkit-transform: scale(0.3);
        opacity: 0.5;
    }
}

@keyframes load {
    0%{
        transform: scale(1.2);
        opacity: 1;
    }
    100%{
        transform: scale(0.3);
        opacity: 0.5;
    }
}
